.App {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
}

.entry {
  display: flex;
}

.entry-content,
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  color: white;
  border: 1px solid white;
  font-size: 20px;
}

.box {
  border-style: dashed;
}

.clickable {
  height: 150px;
  width: 5px;
  cursor: col-resize;
}